//nav page

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: $black;
  color: $white;
  padding: 1rem;
  &__li {
    margin-right: 1rem;
  }
  &__link {
    color: inherit;
    text-decoration: none;
    width: 100%;
    font-family: $poppins;
    font-weight: $bold;
  }
  &__logo {
    width: 3rem;
  }
  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.95rem;
    font-weight: 500;
    
  }
}

